<!-- projectiles -->
<script src="scripts/projectiles/Fire.js" type="text/javascript"></script>
<script src="scripts/projectiles/Fireblast.js" type="text/javascript"></script>

<!-- entities -->
<script src="scripts/entities/Person.js" type="text/javascript"></script>
<script src="scripts/entities/House.js" type="text/javascript"></script>
<script src="scripts/entities/Sasquatch.js" type="text/javascript"></script>
<script src="scripts/entities/Giant.js" type="text/javascript"></script>

<!-- core -->
<script src="scripts/Collision.js" type="text/javascript"></script>
<script src="scripts/Buttons.js" type="text/javascript"></script>
<script src="scripts/Levels.js" type="text/javascript"></script>